.content-aboutus{
    display:flex;
    flex-direction: column;
    align-items: center;
    b{
        font-family:'bold';
    }
    .logo{

        background:none;
        margin:1.25rem 0 0 0;
        width: 3.5rem;
      img{
        border-radius: 10rem;
      }
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: ku;
        font-size:4rem;
    }
    h2, span {
        font-size:3.75rem;
        font-family: kl;
    }
    h2 span {
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.4rem;
      }
    p{
        font-family:kl;
        font-size:1.2rem;
    }
.content-aboutus2{
  margin-top:2.5rem;
  background:#02090A;
  border-top-left-radius:3rem;
  border-top-right-radius:3rem;
  padding:0 5rem;
  h2, span{
      padding-top:6rem;
      margin-left:0;
      color:#fff;
    }
      span{
      font-size:3.75rem;
      font-family:ku;
  }
p {
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  color: #cfcfcf;
}
}

.content-aboutus3{
  margin:9rem 5rem 3rem 5rem;
  .header{
  display:flex;
  flex-direction:column;
  margin-bottom: 3rem;
  h4{
    padding-bottom:.6rem;
    margin-left:0;
    color:rgb(198, 4, 36);
  }
  h3{
    margin-left: 0;
  }
 }
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    background:#000;
    padding:1rem 1rem 1.5rem 1rem;
    border-radius: .5rem;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
      color:#fff;
    }
    p {
      color: #cfcfcf;
      margin: 0;
      flex-grow: 1;
    }
  form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top:1.25rem;
  .h-captcha{
  margin:0;
  padding-top:.25rem;
}
.input-wrapper {
  position: relative;
  width: 29.75rem;
}
input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}

button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: .12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;

  &:hover {
    background-color: #F5F5F5;
    cursor: pointer;
  }
}
}
.pricebtn {
    margin-top:1.25rem;
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.15rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;

    &:hover {
      background-color: #1f1f1f;
      color: #fff;
    }
  }
  }
}
}
}

@media (min-width: 1101px) and (max-width: 1224px) {
.content-aboutus1{
.content-aboutus2{
      h2, span{
        font-size:4rem;
      }
  }
}
}
@media (min-width: 875px) and (max-width: 1100px) {
.content-aboutus{
.content-aboutus2{
      h2, span{
        font-size:3.5rem;
      }
  }
}
}
@media (min-width: 660px) and (max-width: 874px) {
.content-aboutus{
  h3{
      font-size:2.25rem;
  }
  h4{
      font-size:1rem;
    }
  .logo{
    margin-left:1rem;
  }
.content-aboutus2{
  margin-left:0;
  margin-right:0;
  padding:0 2rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2{
    padding-top:3.5rem;
    font-size:1.75rem;
    width:100%;
    }
    span{
      font-size:1.75rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.5rem;
    width:100%;
  }
}
.content-aboutus3{
  margin: 7rem 1rem 0 1rem;
  .header{
    margin-bottom:1.5rem;
  flex-direction:column;
    h4{
        padding-bottom:.25rem;
  }
  }
.grid{
  grid-template-columns: repeat(1, 1fr);
}
}
}
}
@media (max-width: 659px) {
.content-aboutus{
  h3{
      font-size:2.25rem;
  }
  h4{
      font-size:1rem;
    }
  .logo{
    margin-left:1rem;
  }
.content-aboutus2{
  margin-left:0;
  margin-right:0;
  padding:0 2rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2{
    padding-top:3.5rem;
    font-size:1.75rem;
    width:100%;
    }
    span{
      font-size:1.75rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.5rem;
    width:100%;
  }
}
.content-aboutus3{
  margin: 7rem 1rem 0 1rem;
  .header{
    margin-bottom:1.5rem;
  flex-direction:column;
    h4{
        padding-bottom:.25rem;
  }
  }
.grid{
  grid-template-columns: repeat(1, 1fr);
.box{
form {
.input-wrapper {
  width: 20.25rem;
}
}
}

}
}
}
}