.container{
    display:flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #000;
    b{
        font-family:'bold';
    }
    .logo{
        display: flex;
        justify-content: center;
        margin:auto auto;
        background:none;
        width: 7.5rem;
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: kl;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:5rem;
      font-family: ku; 
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.2rem;
      color:$darkred;
      }
    p, .text{
        font-family:kl;
        font-size:1.35rem;
    }
    a{
      font-family: kl;
    }
    span, .text span{
      font-family: ku;
    }
}
@media (max-width: 659px) {
.container{
.content{
.inner-content{
        margin-top: 4rem;
     margin-bottom:15rem;
  }
}
}
}