.content-adformats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-adformats b {
  font-family: "bold";
}
.content-adformats .logo {
  background: none;
  margin: 1.25rem 0 0 0rem;
  width: 3.5rem;
}
.content-adformats .logo img {
  border-radius: 10rem;
}
.content-adformats h1, .content-adformats h2, .content-adformats h3, .content-adformats span {
  text-align: left;
  font-family: ku;
  font-size: 3.75rem;
}
.content-adformats h2 {
  font-size: 3.75rem;
  font-family: kl;
}
.content-adformats h3 {
  font-size: 2.75rem;
}
.content-adformats h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-adformats p {
  font-family: kl;
}
.content-adformats .content-awu3 .header {
  margin: 9rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
}
.content-adformats .content-awu3 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-adformats .content-awu3 .header h3 {
  margin-left: 0;
}
.content-adformats .content-awu3 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
}
.content-adformats .content-awu3 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-adformats .content-awu3 .grid .box img {
  border-radius: 0.5rem;
  width: 42.5%;
  height: auto;
}
.content-adformats .content-awu3 .grid .box h1 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  font-family: bold;
  color: #fff;
  text-align: center;
}
.content-adformats .content-awu3 .grid .box p {
  color: #cfcfcf;
  flex-grow: 1;
  text-align: center;
  width: 60%;
}
.content-adformats .content-awu3:nth-child(2) .header {
  margin-top: 2rem;
}
.content-adformats .content-awu3:nth-child(2) .grid .box img {
  width: 100%;
}
.content-adformats .content-awu3:nth-child(2) .grid .box h1 {
  text-align: left;
  margin: 0;
}
.content-adformats .content-awu3:nth-child(2) .grid .box p {
  text-align: left;
  width: 100%;
}
.content-adformats .content-awu4 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-adformats .content-awu4 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-adformats .content-awu4 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-adformats .content-awu4 .header h3 {
  margin-left: 0;
}
.content-adformats .content-awu4 .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: center;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-adformats .content-awu4 .box img {
  border-radius: 0.5rem;
  width: 22.5%;
  height: auto;
}
.content-adformats .content-awu4 .box h1 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
  text-align: center;
}
.content-adformats .content-awu4 .box p {
  color: #cfcfcf;
  flex-grow: 1;
  width: 40%;
  text-align: center;
}
.content-adformats .btn {
  display: flex;
  margin-top: 9rem;
}
.content-adformats .btn .pricebtn {
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #000;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-adformats .btn .pricebtn:hover {
  background-color: #fafafa;
  color: #000;
}

@media (min-width: 660px) and (max-width: 874px) {
  .content-adformats .content-awu3 {
    margin-top: 3rem;
  }
  .content-adformats .content-awu3 .header {
    margin: 1.25rem;
  }
  .content-adformats .content-awu3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu3 .grid .box p {
    width: 92.5%;
  }
  .content-adformats .content-awu4 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-adformats .content-awu4 .header {
    margin-bottom: 1.5rem;
  }
  .content-adformats .content-awu4 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu4 .grid .box img {
    width: 42.5%;
  }
  .content-adformats .content-awu4 .grid .box p {
    width: 92.5%;
  }
}
@media (max-width: 659px) {
  .content-adformats h3 {
    font-size: 1.65rem;
  }
  .content-adformats h4 {
    font-size: 1rem;
  }
  .content-adformats .content-awu3 {
    margin-top: 3rem;
  }
  .content-adformats .content-awu3 .header {
    margin: 1.25rem;
  }
  .content-adformats .content-awu3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu3 .grid .box p {
    width: 92.5%;
  }
  .content-adformats .content-awu4 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-adformats .content-awu4 .header {
    margin-bottom: 1.5rem;
  }
  .content-adformats .content-awu4 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu4 .grid .box img {
    width: 42.5%;
  }
  .content-adformats .content-awu4 .grid .box p {
    width: 92.5%;
  }
}

/*# sourceMappingURL=ad-formats.css.map */
