
.footer {
  width: 100%;
  padding: 10rem 5rem 3rem 5rem;
  box-sizing: border-box;
    h1{
      font-size:11.2rem;
      font-family: ku;
    }
    p{
        font-family:kl;
        font-size:1.35rem;
        margin-left:0;
    }
  .footer-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 4rem;
    margin-bottom: 2rem;

  .footer-signup {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin:0;
      h1{
        margin:0;
        padding-top:2rem;
        padding-bottom:.5rem;
        font-family: 'ku';
        font-size:2.5rem;
      }
  form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top:.45rem;
altcha-widget {
  position: relative;
  margin-left:0;
  margin-top:.1rem;
  max-width: 200px;
  --altcha-max-width: 200px;
  --altcha-border-radius: 5rem;
  font-size: 1.1rem;
  font-family: kl;
}
.input-wrapper {
  position: relative;
  width: 25rem;
}
input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 5rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding:1.25rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}

button.submit {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 2rem;
  margin: .35rem; 
  background-color: #02090A;
  color: #fafafa;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;

  &:hover {
    opacity: .85;
    cursor: pointer;
  }
}
}
    }
.footer-links {
  display: flex;
  margin:0 0;
  padding-top:3.75rem;

.column {
display: flex;
flex-direction: column;
padding: 0 2rem;
margin-top: 0;
padding-right:0;
margin-left:2rem;
h4,
a {
text-align: left;
width: 100%;
}

h4 {
font-family: bold;
margin-bottom: 1rem;
font-size: 0.85rem;
}

a {
color: #000;
text-decoration: none;
margin-bottom: 0.75rem;
font-size: 0.825rem;
&:hover {
  color: #808182;
  text-decoration: underline;
}
}
}

}
  }

  .footer-bottom {
    display: flex;
    .footer-meta {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
      margin-left:0;
      margin-top:0;
      a {
        font-size:.825rem;
        color: #000;
          &:hover {
          color: #808182;
          text-decoration: underline;
        }
      }
    }

    .footer-social {
      display: flex;
      gap: 1.25rem;
      margin-right:0;
      padding-right:0;
      img {
        width:1.15rem;
        border-radius: 0;
        margin-left:0;
      }
    }
  }
}
@media (min-width: 875px) and (max-width: 1162px) {
.footer {
  h1{
    font-size: 8.5rem;
  }
}
}
@media (min-width: 660px) and (max-width: 930px) {
.footer {
  padding-left:2.5rem;
  padding-right:2.5rem;
  padding-top:2.5rem;
    h1{
      font-size:6rem;
    }
  .footer-top {
        flex-direction: column-reverse;
        align-items: left;
    .footer-signup {
      padding-top:1rem;
      form{
      .input-wrapper{
          width: 25rem;
      }
      }
  }
.footer-links {
      flex-direction: column;
      padding-top:.75rem;
.column {
    margin:0;
    padding:0;
}
.column:nth-child(2){
  padding-top:.75rem;
}
}
.footer-bottom {
      padding-bottom:1.25rem;
    .footer-meta {
      gap: .75rem;
    }
    .footer-social {
      gap:1.25rem;
      img {
        width:1.1rem;
      }
    }
  }
}
}
}
@media (max-width: 659px) {
.footer {
  padding:1.25rem .5rem 1.25rem .5rem;
      h1{
      font-size:3.65rem;
    }
  .footer-top {
        flex-direction: column-reverse;
        align-items: left;
    .footer-signup {
      padding-top:1rem;
      h1{
        font-size:2rem;
      }
      p{
        font-size:1.25rem;
      }
      form{
      .input-wrapper{
          width: 22.5rem;
      }
      }
  }

.footer-links {
      flex-direction: column;
      padding-top:1.25rem;
.column {
    margin:0;
    padding:0;
}
.column:nth-child(2){
  padding-top:.5rem;
}
}
}
.footer-bottom {
      padding-bottom:1.25rem;
    .footer-meta {
      gap: .5rem;
      }
    .footer-social {
      gap:1.25rem;
      img {
        width:1.1rem;
      }
    }
  }
}
}

