.adform-container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    .logo{
        display: flex;
        background:none;
        width: 4rem;
        margin-top:3rem;
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: kl;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.2rem;
      color:$darkred;
      }
    p, .text{
        font-family:kl;
        font-size:1.35rem;
    }
    a{
      font-family: kl;
    }
    span, .text span{
      font-family: ku;
    }
.content{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100%;
.inner-content{
      display: flex;
      flex-direction: column;
      margin-top:6rem;
      margin-bottom: 6rem;  
.text{
    h1{
      font-size:2rem;
      font-family: ku;
    }
}
  form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top:.45rem;
.input-wrapper {
  position: relative;
  width: 26.5rem;
}
input.email {
  width: 100%;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 5rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding:1.25rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}
.mb{
  margin-bottom:.35rem;
}
button.submit {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 2rem;
  margin: .35rem;
  background-color: #02090A;
  color: #fafafa;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;

  &:hover {
    opacity: .85;
    cursor: pointer;
  }
}
}
  }
}
}
@media (min-width: 875px) and (max-width: 1264px) {
.adform-container{
  h3{
      font-size:2.75rem;
  }
}
}
@media (min-width: 660px) and (max-width: 874px) {
.adform-container{
  h3{
      font-size:2.75rem;
  }
.content{
  flex-direction: column;
.inner-content{
        margin-left:2.5rem;
        margin-bottom:2.5rem;
form {
.input-wrapper {
  width: 30rem;
  }
    }
  }
}
}
}
@media (max-width: 659px) {
.adform-container{
  h3{
      font-size:2.25rem;
  }
  h4{
    font-size:1.15rem;
  }
.content{
.inner-content{
        margin-top: 4rem;
    .text{
      h1{
        font-size: 1.75rem;
      }
    }
form {
.input-wrapper {
  width: 22rem;
  }
    }
  }
}
}
}