/* FONTS */
@font-face {
  font-family: "book";
  src: url("../global/fonts/bal-book.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("../global/fonts/bal-medium.woff2") format("woff2");
}
@font-face {
  font-family: "bold";
  src: url("../global/fonts/bal-bold.woff2") format("woff2");
}
@font-face {
  font-family: "arial";
  src: url("../global/fonts/bal-arial.woff2") format("woff2");
}
@font-face {
  font-family: "bw";
  src: url("../global/fonts/BroadwayD.woff2") format("woff2");
}
@font-face {
  font-family: "kl";
  src: url("../global/fonts/Kinetika-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ku";
  src: url("../global/fonts/Kinetika-Ultra.woff2") format("woff2");
}
.container {
  display: flex;
  flex-direction: column;
}
.container b {
  font-family: "bold";
}
.container .logo {
  background: none;
  margin: 1.25rem 0 1.25rem 5rem;
  width: 2.5rem;
}
.container h1, .container h2, .container h3, .container span {
  font-style: normal;
  text-align: left;
  font-family: ku;
  font-size: 4.5rem;
}
.container h2 {
  font-size: 3.5rem;
  font-family: kl;
}
.container h2 span {
  font-size: 4rem;
  font-family: ku;
}
.container h3 {
  font-size: 2.75rem;
}
.container h4 {
  font-family: kl;
  font-size: 1.25rem;
}
.container p {
  font-family: kl;
  font-size: 1.35rem;
}
.container .content {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-bottom: 0rem;
}
.container .content .inner-content {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 2.5rem;
}
.container .content .inner-content .text h1 {
  margin-left: 0;
  width: 75%;
}
.container .content .inner-content .text p {
  text-align: left;
  padding: 2rem 0rem 0.5rem 0;
  margin-left: 0;
}
.container .content .inner-content form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.container .content .inner-content form .h-captcha {
  margin: 0;
  padding-top: 0.25rem;
}
.container .content .inner-content form .input-wrapper {
  position: relative;
  width: 29rem;
}
.container .content .inner-content form input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: 0.15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.container .content .inner-content form input.email:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #02090A;
  border-color: #02090A;
  caret-color: #02090A;
}
.container .content .inner-content form button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: 0.12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;
}
.container .content .inner-content form button.submit:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.container .content .inner-content1 img {
  margin-left: 0rem;
  width: 70%;
}
.container .inner-content2 {
  background: #02090A;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 0 5rem;
}
.container .inner-content2 h2, .container .inner-content2 h2 span {
  padding-top: 6rem;
  margin-left: 0;
  color: #fff;
}
.container .inner-content2 p {
  width: 90%;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  color: #7a7a7a;
  background: #7a7a7a;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.container .inner-content2 p:hover {
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
  animation: shimmer 1.5s linear infinite;
}
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.container .inner-content3 .header {
  margin: 11rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
}
.container .inner-content3 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.container .inner-content3 .header h3 {
  margin-left: 0;
}
.container .inner-content3 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
}
.container .inner-content3 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.container .inner-content3 .grid .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.container .inner-content3 .grid .box h1 {
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  font-family: bold;
  color: #fff;
  text-align: center;
}
.container .inner-content3 .grid .box p, .container .inner-content3 .grid .box a {
  color: #cfcfcf;
  flex-grow: 1;
  text-align: center;
  font-size: 2.25rem;
  width: 100%;
}
.container .inner-content3 .grid .box a {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #cfcfcf;
  background: #cfcfcf;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(90deg, #ff8738, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.container .inner-content3 .grid .box a:hover {
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
  animation: shimmer 1.5s linear infinite;
}
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media (min-width: 875px) and (max-width: 1246px) {
  .container h3 {
    font-size: 2.75rem;
  }
  .container h4 {
    font-size: 1rem;
  }
  .container .logo {
    margin-left: 2.5rem;
  }
  .container .content {
    margin-top: 8rem;
    margin-bottom: 3.5rem;
  }
  .container .content .inner-content {
    margin-top: 5rem;
    margin-left: 2.5rem;
  }
  .container .content .inner-content .text h1, .container .content .inner-content .text span {
    font-size: 3.5rem;
    width: 55%;
  }
  .container .content .inner-content .text p {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .container .content .inner-content form .input-wrapper {
    width: 29rem;
  }
  .container .inner-content2 {
    margin: 0 auto;
    padding: 0 2.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .container .inner-content2 h2, .container .inner-content2 h2 span {
    padding-top: 3.5rem;
    font-size: 3.5rem;
  }
  .container .inner-content2 p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width: 100%;
  }
}
@media (min-width: 660px) and (max-width: 874px) {
  .container h3 {
    font-size: 2.75rem;
  }
  .container h4 {
    font-size: 1.1rem;
  }
  .container .logo {
    margin-left: 2.5rem;
  }
  .container .content {
    margin-top: 8rem;
    margin-bottom: 3.5rem;
  }
  .container .content .inner-content {
    margin-top: 5rem;
    margin-left: 2.5rem;
  }
  .container .content .inner-content .text h1 {
    font-size: 3.5rem;
  }
  .container .content .inner-content .text p {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    width: 65%;
  }
  .container .content .inner-content form .input-wrapper {
    width: 29rem;
  }
  .container .inner-content2 {
    padding: 0 2.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .container .inner-content2 h2 {
    padding-top: 3.5rem;
    font-size: 3rem;
    width: 100%;
  }
  .container .inner-content2 span {
    font-size: 3rem;
  }
  .container .inner-content2 p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size: 2rem;
    width: 100%;
  }
  .container .inner-content3 {
    margin-top: 3rem;
  }
  .container .inner-content3 .header {
    margin: 1.25rem;
  }
  .container .inner-content3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .container .inner-content3 .grid .box p {
    width: 92.5%;
  }
}
@media (max-width: 659px) {
  .container h3 {
    font-size: 2.25rem;
  }
  .container h4 {
    font-size: 1.1rem;
  }
  .container .logo {
    margin-left: 1rem;
  }
  .container .content {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
  .container .content .inner-content {
    margin-top: 0rem;
    margin-left: 1rem;
  }
  .container .content .inner-content .text h4 {
    font-size: 0.825rem;
  }
  .container .content .inner-content .text h1 {
    font-size: 2.25rem;
  }
  .container .content .inner-content .text p {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    width: 90%;
  }
  .container .content .inner-content form .input-wrapper {
    width: 22rem;
  }
  .container .inner-content2 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .container .inner-content2 h2, .container .inner-content2 span {
    padding-top: 3.5rem;
    font-size: 1.5rem;
  }
  .container .inner-content2 p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size: 1.35rem;
    width: 100%;
  }
  .container .inner-content3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container .inner-content3 .header {
    margin: 1.25rem;
  }
  .container .inner-content3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .container .inner-content3 .grid .box p {
    width: 92.5%;
  }
}
.content-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-aboutus b {
  font-family: "bold";
}
.content-aboutus .logo {
  background: none;
  margin: 1.25rem 0 0 0;
  width: 3.5rem;
}
.content-aboutus .logo img {
  border-radius: 10rem;
}
.content-aboutus h1, .content-aboutus h2, .content-aboutus h3, .content-aboutus span {
  font-style: normal;
  text-align: left;
  font-family: ku;
  font-size: 4rem;
}
.content-aboutus h2, .content-aboutus span {
  font-size: 3.75rem;
  font-family: kl;
}
.content-aboutus h2 span {
  font-family: ku;
}
.content-aboutus h3 {
  font-size: 2.75rem;
}
.content-aboutus h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-aboutus p {
  font-family: kl;
  font-size: 1.2rem;
}
.content-aboutus .content-aboutus2 {
  margin-top: 2.5rem;
  background: #02090A;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 0 5rem;
}
.content-aboutus .content-aboutus2 h2, .content-aboutus .content-aboutus2 span {
  padding-top: 6rem;
  margin-left: 0;
  color: #fff;
}
.content-aboutus .content-aboutus2 span {
  font-size: 3.75rem;
  font-family: ku;
}
.content-aboutus .content-aboutus2 p {
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  color: #cfcfcf;
}
.content-aboutus .content-aboutus3 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-aboutus .content-aboutus3 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-aboutus .content-aboutus3 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-aboutus .content-aboutus3 .header h3 {
  margin-left: 0;
}
.content-aboutus .content-aboutus3 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.content-aboutus .content-aboutus3 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-aboutus .content-aboutus3 .grid .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.content-aboutus .content-aboutus3 .grid .box h1 {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
}
.content-aboutus .content-aboutus3 .grid .box p {
  color: #cfcfcf;
  margin: 0;
  flex-grow: 1;
}
.content-aboutus .content-aboutus3 .grid .box form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 1.25rem;
}
.content-aboutus .content-aboutus3 .grid .box form .h-captcha {
  margin: 0;
  padding-top: 0.25rem;
}
.content-aboutus .content-aboutus3 .grid .box form .input-wrapper {
  position: relative;
  width: 29.75rem;
}
.content-aboutus .content-aboutus3 .grid .box form input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: 0.15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.content-aboutus .content-aboutus3 .grid .box form input.email:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #02090A;
  border-color: #02090A;
  caret-color: #02090A;
}
.content-aboutus .content-aboutus3 .grid .box form button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: 0.12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;
}
.content-aboutus .content-aboutus3 .grid .box form button.submit:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.content-aboutus .content-aboutus3 .grid .box .pricebtn {
  margin-top: 1.25rem;
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #fafafa;
  color: #fafafa;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-aboutus .content-aboutus3 .grid .box .pricebtn:hover {
  background-color: #1f1f1f;
  color: #fff;
}

@media (min-width: 1101px) and (max-width: 1224px) {
  .content-aboutus1 .content-aboutus2 h2, .content-aboutus1 .content-aboutus2 span {
    font-size: 4rem;
  }
}
@media (min-width: 875px) and (max-width: 1100px) {
  .content-aboutus .content-aboutus2 h2, .content-aboutus .content-aboutus2 span {
    font-size: 3.5rem;
  }
}
@media (min-width: 660px) and (max-width: 874px) {
  .content-aboutus h3 {
    font-size: 2.25rem;
  }
  .content-aboutus h4 {
    font-size: 1rem;
  }
  .content-aboutus .logo {
    margin-left: 1rem;
  }
  .content-aboutus .content-aboutus2 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .content-aboutus .content-aboutus2 h2 {
    padding-top: 3.5rem;
    font-size: 1.75rem;
    width: 100%;
  }
  .content-aboutus .content-aboutus2 span {
    font-size: 1.75rem;
  }
  .content-aboutus .content-aboutus2 p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .content-aboutus .content-aboutus3 {
    margin: 7rem 1rem 0 1rem;
  }
  .content-aboutus .content-aboutus3 .header {
    margin-bottom: 1.5rem;
    flex-direction: column;
  }
  .content-aboutus .content-aboutus3 .header h4 {
    padding-bottom: 0.25rem;
  }
  .content-aboutus .content-aboutus3 .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 659px) {
  .content-aboutus h3 {
    font-size: 2.25rem;
  }
  .content-aboutus h4 {
    font-size: 1rem;
  }
  .content-aboutus .logo {
    margin-left: 1rem;
  }
  .content-aboutus .content-aboutus2 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .content-aboutus .content-aboutus2 h2 {
    padding-top: 3.5rem;
    font-size: 1.75rem;
    width: 100%;
  }
  .content-aboutus .content-aboutus2 span {
    font-size: 1.75rem;
  }
  .content-aboutus .content-aboutus2 p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .content-aboutus .content-aboutus3 {
    margin: 7rem 1rem 0 1rem;
  }
  .content-aboutus .content-aboutus3 .header {
    margin-bottom: 1.5rem;
    flex-direction: column;
  }
  .content-aboutus .content-aboutus3 .header h4 {
    padding-bottom: 0.25rem;
  }
  .content-aboutus .content-aboutus3 .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-aboutus .content-aboutus3 .grid .box form .input-wrapper {
    width: 20.25rem;
  }
}
.content-awu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-awu b {
  font-family: "bold";
}
.content-awu .logo {
  background: none;
  margin: 1.25rem 0 0 0;
  width: 3.5rem;
}
.content-awu .logo img {
  border-radius: 10rem;
}
.content-awu h1, .content-awu h2, .content-awu h3, .content-awu span {
  text-align: left;
  font-family: ku;
  font-size: 3.75rem;
}
.content-awu h2 {
  font-size: 3.75rem;
  font-family: kl;
}
.content-awu h3 {
  font-size: 2.75rem;
}
.content-awu h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-awu p {
  font-family: kl;
  font-size: 1.2rem;
}
.content-awu .content-awu2 {
  display: flex;
  flex-direction: column;
  margin: 3.5rem 5rem 2.5rem 5rem;
}
.content-awu .content-awu2 h1 {
  padding-bottom: 4rem;
}
.content-awu .content-awu2 .text {
  margin: 0;
}
.content-awu .content-awu2 .text h4 {
  padding-bottom: 0.6rem;
  color: rgb(198, 4, 36);
}
.content-awu .ads-carousel-txt {
  display: flex;
  flex-direction: row;
}
.content-awu .ads-carousel-txt .adsbox {
  margin-top: 0;
  margin-right: 0;
  width: 35%;
}
.content-awu .ads-carousel-txt .adsbox ul {
  padding-top: 2rem;
  padding-left: 1.75rem;
}
.content-awu .ads-carousel-txt .adsbox ul li {
  padding-bottom: 2.25rem;
}
.content-awu .ads-carousel-txt .adsbox .btn {
  display: flex;
  margin-top: 0rem;
}
.content-awu .ads-carousel-txt .adsbox .btn .pricebtn {
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #000;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-awu .ads-carousel-txt .adsbox .btn .pricebtn:hover {
  background-color: #fafafa;
  color: #000;
}
.content-awu .ads-carousel-txt .ads-carousel {
  position: relative;
  width: 35%;
  overflow: hidden;
  margin-left: 4rem;
  margin-top: -7.5rem;
}
.content-awu .ads-carousel-txt .ads-carousel .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  padding-left: 0.2rem;
}
.content-awu .ads-carousel-txt .ads-carousel .carousel-slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}
.content-awu .ads-carousel-txt .ads-carousel .box {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 0.25rem;
}
.content-awu .ads-carousel-txt .ads-carousel .box img {
  width: 60%;
  border-radius: 2.5rem;
}
.content-awu .ads-carousel-txt .ads-carousel .box h1 {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0 auto;
  font-family: bold;
}
.content-awu .ads-carousel-txt .ads-carousel .box p {
  text-align: center;
  color: #7a7a7a;
  margin: 0;
  flex-grow: 1;
}
.content-awu .ads-carousel-txt .ads-carousel .carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 2;
}
.content-awu .ads-carousel-txt .ads-carousel .carousel-button.prev {
  left: 0.5rem;
}
.content-awu .ads-carousel-txt .ads-carousel .carousel-button.next {
  right: 0.5rem;
}
.content-awu .content-awu6 {
  margin: 12rem 5rem 3rem 5rem;
}
.content-awu .content-awu6 .header {
  display: flex;
  flex-direction: column;
}
.content-awu .content-awu6 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu6 .header h3 {
  margin-left: 0;
}
.content-awu .content-awu6 .header p {
  margin-left: 0;
  margin-top: 0.65rem;
  font-size: 1rem;
}
.content-awu .btn {
  display: flex;
  margin-top: 9rem;
}
.content-awu .btn .pricebtn {
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #000;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-awu .btn .pricebtn:hover {
  background-color: #fafafa;
  color: #000;
}

@media (min-width: 875px) and (max-width: 1100px) {
  .content-awu .content-awu2 {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .content-awu .content-awu2 p {
    margin-left: 0;
    width: 100%;
  }
  .content-awu .ads-carousel {
    margin: 0 auto;
    width: 25%;
  }
  .content-awu .ads-carousel .box img {
    width: 60%;
    border-radius: 1rem;
  }
  .content-awu .ads-carousel .carousel-button {
    top: 40%;
  }
}
@media (min-width: 660px) and (max-width: 874px) {
  .content-awu .content-awu2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .content-awu .content-awu2 p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .content-awu .ads-carousel-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content-awu .ads-carousel-txt .adsbox {
    flex-direction: column;
    margin-left: 0rem;
    width: 60%;
  }
  .content-awu .ads-carousel-txt .adsbox ul {
    padding-top: 2rem;
    padding-left: 1.75rem;
  }
  .content-awu .ads-carousel-txt .adsbox ul li {
    padding-bottom: 2.25rem;
  }
  .content-awu .ads-carousel-txt .adsbox .btn {
    display: flex;
    margin-top: 0rem;
  }
  .content-awu .ads-carousel-txt .ads-carousel {
    display: none;
  }
  .content-awu .content-awu3 .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 659px) {
  .content-awu h3 {
    font-size: 1.5rem;
  }
  .content-awu h4 {
    font-size: 1rem;
  }
  .content-awu .content-awu2 {
    display: flex;
    flex-direction: column;
    margin: 3.25rem 1.25rem 0 1.25rem;
  }
  .content-awu .content-awu2 h1 {
    font-size: 2rem;
    text-align: center;
  }
  .content-awu .content-awu2 .text {
    display: flex;
    flex-direction: column;
  }
  .content-awu .content-awu2 .text h3, .content-awu .content-awu2 .text h4 {
    text-align: left;
    margin: 0;
  }
  .content-awu .content-awu2 p {
    display: none;
  }
  .content-awu .ads-carousel-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content-awu .ads-carousel-txt p {
    text-align: left;
  }
  .content-awu .ads-carousel-txt .adsbox {
    flex-direction: column;
    margin-left: 0rem;
    width: 90%;
  }
  .content-awu .ads-carousel-txt .adsbox ul {
    padding-top: 2rem;
    padding-left: 1.75rem;
  }
  .content-awu .ads-carousel-txt .adsbox ul li {
    padding-bottom: 2.25rem;
  }
  .content-awu .ads-carousel-txt .adsbox .btn {
    display: flex;
    margin-top: 1rem;
  }
  .content-awu .ads-carousel-txt .ads-carousel {
    display: none;
  }
  .content-awu .content-awu6 {
    margin: 4rem 1.25rem -3rem 1.25rem;
  }
  .content-awu .content-awu6 .header {
    margin-bottom: 1.5rem;
  }
  .content-awu .content-awu6 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .btn {
    margin-top: 0rem;
    margin-bottom: 6rem;
  }
}
.content-adformats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-adformats b {
  font-family: "bold";
}
.content-adformats .logo {
  background: none;
  margin: 1.25rem 0 0 0rem;
  width: 3.5rem;
}
.content-adformats .logo img {
  border-radius: 10rem;
}
.content-adformats h1, .content-adformats h2, .content-adformats h3, .content-adformats span {
  text-align: left;
  font-family: ku;
  font-size: 3.75rem;
}
.content-adformats h2 {
  font-size: 3.75rem;
  font-family: kl;
}
.content-adformats h3 {
  font-size: 2.75rem;
}
.content-adformats h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-adformats p {
  font-family: kl;
}
.content-adformats .content-awu3 .header {
  margin: 9rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
}
.content-adformats .content-awu3 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-adformats .content-awu3 .header h3 {
  margin-left: 0;
}
.content-adformats .content-awu3 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
}
.content-adformats .content-awu3 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-adformats .content-awu3 .grid .box img {
  border-radius: 0.5rem;
  width: 42.5%;
  height: auto;
}
.content-adformats .content-awu3 .grid .box h1 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  font-family: bold;
  color: #fff;
  text-align: center;
}
.content-adformats .content-awu3 .grid .box p {
  color: #cfcfcf;
  flex-grow: 1;
  text-align: center;
  width: 60%;
}
.content-adformats .content-awu3:nth-child(2) .header {
  margin-top: 2rem;
}
.content-adformats .content-awu3:nth-child(2) .grid .box img {
  width: 100%;
}
.content-adformats .content-awu3:nth-child(2) .grid .box h1 {
  text-align: left;
  margin: 0;
}
.content-adformats .content-awu3:nth-child(2) .grid .box p {
  text-align: left;
  width: 100%;
}
.content-adformats .content-awu4 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-adformats .content-awu4 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-adformats .content-awu4 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-adformats .content-awu4 .header h3 {
  margin-left: 0;
}
.content-adformats .content-awu4 .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: center;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-adformats .content-awu4 .box img {
  border-radius: 0.5rem;
  width: 22.5%;
  height: auto;
}
.content-adformats .content-awu4 .box h1 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
  text-align: center;
}
.content-adformats .content-awu4 .box p {
  color: #cfcfcf;
  flex-grow: 1;
  width: 40%;
  text-align: center;
}
.content-adformats .btn {
  display: flex;
  margin-top: 9rem;
}
.content-adformats .btn .pricebtn {
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #000;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-adformats .btn .pricebtn:hover {
  background-color: #fafafa;
  color: #000;
}

@media (min-width: 660px) and (max-width: 874px) {
  .content-adformats .content-awu3 {
    margin-top: 3rem;
  }
  .content-adformats .content-awu3 .header {
    margin: 1.25rem;
  }
  .content-adformats .content-awu3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu3 .grid .box p {
    width: 92.5%;
  }
  .content-adformats .content-awu4 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-adformats .content-awu4 .header {
    margin-bottom: 1.5rem;
  }
  .content-adformats .content-awu4 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu4 .grid .box img {
    width: 42.5%;
  }
  .content-adformats .content-awu4 .grid .box p {
    width: 92.5%;
  }
}
@media (max-width: 659px) {
  .content-adformats h3 {
    font-size: 1.65rem;
  }
  .content-adformats h4 {
    font-size: 1rem;
  }
  .content-adformats .content-awu3 {
    margin-top: 3rem;
  }
  .content-adformats .content-awu3 .header {
    margin: 1.25rem;
  }
  .content-adformats .content-awu3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu3 .grid .box p {
    width: 92.5%;
  }
  .content-adformats .content-awu4 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-adformats .content-awu4 .header {
    margin-bottom: 1.5rem;
  }
  .content-adformats .content-awu4 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-adformats .content-awu4 .grid .box img {
    width: 42.5%;
  }
  .content-adformats .content-awu4 .grid .box p {
    width: 92.5%;
  }
}
.content-privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-privacy b {
  font-family: "bold";
}
.content-privacy .logo {
  background: none;
  margin: 1.25rem 0 0 0;
  width: 3.5rem;
}
.content-privacy .logo img {
  border-radius: 10rem;
}
.content-privacy h1, .content-privacy h2, .content-privacy h3, .content-privacy span {
  text-align: left;
  font-family: ku;
  font-size: 4rem;
}
.content-privacy h2 {
  font-size: 1rem;
  font-family: kl;
}
.content-privacy h3 {
  font-size: 2.75rem;
}
.content-privacy h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-privacy p, .content-privacy li {
  font-family: kl;
  font-size: 1.2rem;
}
.content-privacy .content-privacy2 {
  margin-top: 2.5rem;
  background: #02090A;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 0 5rem;
  padding-bottom: 5rem;
}
.content-privacy .content-privacy2 h2, .content-privacy .content-privacy2 span {
  padding-top: 6rem;
  margin-left: 0;
  color: #fff;
}
.content-privacy .content-privacy2 span {
  font-size: 3rem;
  font-family: ku;
}
.content-privacy .content-privacy2 p {
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
.content-privacy .content-privacy2 p:nth-child(n) {
  padding-top: 1.5rem;
}
.content-privacy .content-privacy2 a {
  font-family: kl;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #0ccdf4;
  font-weight: bold;
}
.content-privacy .content-privacy2 ul {
  padding-top: 1.5rem;
}
.content-privacy .content-privacy2 ul li {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}

@media (min-width: 660px) and (max-width: 874px) {
  .content-privacy .logo {
    margin-left: 1rem;
  }
  .content-privacy .content-privacy2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}
@media (max-width: 659px) {
  .content-privacy .logo {
    margin-left: 1rem;
  }
  .content-privacy .content-privacy2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}
.content-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-verification b {
  font-family: "bold";
}
.content-verification .logo {
  background: none;
  margin: 1.25rem 0 0 0;
  width: 3.5rem;
}
.content-verification .logo img {
  border-radius: 10rem;
}
.content-verification h1, .content-verification h2, .content-verification h3, .content-verification span {
  text-align: left;
  font-family: ku;
  font-size: 4rem;
}
.content-verification h2 {
  font-size: 1.5rem;
  font-family: kl;
}
.content-verification h3 {
  font-size: 2.75rem;
}
.content-verification h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-verification p, .content-verification li {
  font-family: kl;
  font-size: 1.2rem;
  line-height: normal;
}
.content-verification .content-verification2 {
  margin-top: 2.5rem;
  background: #02090A;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 0 5rem;
  padding-bottom: 5rem;
}
.content-verification .content-verification2 h1 {
  padding-top: 6rem;
  color: #fff;
  font-family: ku;
  text-align: center;
}
.content-verification .content-verification2 p {
  padding: 0 10rem;
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
.content-verification .content-verification2 .box h2 {
  color: #fff;
  font-family: ku;
  padding: 4rem 10rem 0 10rem;
}
.content-verification .content-verification2 .box p {
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
.content-verification .content-verification2 .box p:nth-child(n) {
  padding-top: 1rem;
}
.content-verification .content-verification2 .box a {
  font-family: kl;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #0ccdf4;
  font-weight: bold;
}
.content-verification .content-verification2 .box img {
  padding-top: 2rem;
  width: 40%;
}

@media (min-width: 566px) and (max-width: 970px) {
  .content-verification .content-verification2 {
    margin-top: 1.5rem;
    padding: 0 0;
  }
  .content-verification .content-verification2 h1 {
    font-size: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .content-verification .content-verification2 p {
    padding: 0 10rem;
    font-size: 1.2rem;
    margin-left: 0;
    color: #fafafa;
  }
  .content-verification .content-verification2 .box h2 {
    padding: 4rem 10rem 0 10rem;
  }
  .content-verification .content-verification2 .box p {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .content-verification .content-verification2 .box img {
    padding-top: 2rem;
    width: 50%;
  }
}
@media (max-width: 565px) {
  .content-verification .content-verification2 {
    margin-top: 1.5rem;
    padding: 0 0;
  }
  .content-verification .content-verification2 h1 {
    font-size: 2rem;
  }
  .content-verification .content-verification2 p {
    padding: 0 3rem;
    font-size: 1.2rem;
    margin-left: 0;
    color: #fafafa;
  }
  .content-verification .content-verification2 .box h2 {
    padding: 4rem 3rem 0 3rem;
  }
  .content-verification .content-verification2 .box p {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .content-verification .content-verification2 .box img {
    padding-top: 2rem;
    width: 75%;
  }
}
.footer {
  width: 100%;
  padding: 10rem 5rem 3rem 5rem;
  box-sizing: border-box;
}
.footer h1 {
  font-size: 11.2rem;
  font-family: ku;
}
.footer p {
  font-family: kl;
  font-size: 1.35rem;
  margin-left: 0;
}
.footer .footer-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.footer .footer-top .footer-signup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}
.footer .footer-top .footer-signup h1 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-family: "ku";
  font-size: 2.5rem;
}
.footer .footer-top .footer-signup form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 0.45rem;
}
.footer .footer-top .footer-signup form .h-captcha {
  margin: 0;
  padding-top: 0.25rem;
}
.footer .footer-top .footer-signup form .input-wrapper {
  position: relative;
  width: 25rem;
}
.footer .footer-top .footer-signup form input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  color: #000;
  border: 0.15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.footer .footer-top .footer-signup form input.email:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #02090A;
  border-color: #02090A;
  caret-color: #02090A;
}
.footer .footer-top .footer-signup form button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: 0.12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;
}
.footer .footer-top .footer-signup form button.submit:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.footer .footer-top .footer-links {
  display: flex;
  margin: 0 0;
  padding-top: 3.75rem;
}
.footer .footer-top .footer-links .column {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 0;
  padding-right: 0;
  margin-left: 2rem;
}
.footer .footer-top .footer-links .column h4,
.footer .footer-top .footer-links .column a {
  text-align: left;
  width: 100%;
}
.footer .footer-top .footer-links .column h4 {
  font-family: bold;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.footer .footer-top .footer-links .column a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0.75rem;
  font-size: 0.825rem;
}
.footer .footer-top .footer-links .column a:hover {
  color: #808182;
  text-decoration: underline;
}
.footer .footer-bottom {
  display: flex;
}
.footer .footer-bottom .footer-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-left: 0;
  margin-top: 0;
}
.footer .footer-bottom .footer-meta a {
  font-size: 0.825rem;
  color: #000;
}
.footer .footer-bottom .footer-meta a:hover {
  color: #808182;
  text-decoration: underline;
}
.footer .footer-bottom .footer-social {
  display: flex;
  gap: 1.25rem;
  margin-right: 0;
  padding-right: 0;
}
.footer .footer-bottom .footer-social img {
  width: 1.15rem;
  border-radius: 0;
  margin-left: 0;
}

@media (min-width: 660px) and (max-width: 930px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
  }
  .footer h1 {
    font-size: 6rem;
  }
  .footer .footer-top {
    flex-direction: column-reverse;
    align-items: left;
  }
  .footer .footer-top .footer-signup {
    padding-top: 1rem;
  }
  .footer .footer-top .footer-signup form .input-wrapper {
    width: 25rem;
  }
  .footer .footer-top .footer-links {
    flex-direction: column;
    padding-top: 0.75rem;
  }
  .footer .footer-top .footer-links .column {
    margin: 0;
    padding: 0;
  }
  .footer .footer-top .footer-links .column:nth-child(2) {
    padding-top: 0.75rem;
  }
  .footer .footer-top .footer-bottom {
    padding-bottom: 1.25rem;
  }
  .footer .footer-top .footer-bottom .footer-meta {
    gap: 0.75rem;
  }
  .footer .footer-top .footer-bottom .footer-social {
    gap: 1.25rem;
  }
  .footer .footer-top .footer-bottom .footer-social img {
    width: 1.1rem;
  }
}
@media (max-width: 659px) {
  .footer {
    padding: 1.25rem 0.5rem 1.25rem 0.5rem;
  }
  .footer h1 {
    font-size: 3.65rem;
  }
  .footer .footer-top {
    flex-direction: column-reverse;
    align-items: left;
  }
  .footer .footer-top .footer-signup {
    padding-top: 1rem;
  }
  .footer .footer-top .footer-signup h1 {
    font-size: 2rem;
  }
  .footer .footer-top .footer-signup p {
    font-size: 1.25rem;
  }
  .footer .footer-top .footer-signup form .input-wrapper {
    width: 22.5rem;
  }
  .footer .footer-top .footer-links {
    flex-direction: column;
    padding-top: 1.25rem;
  }
  .footer .footer-top .footer-links .column {
    margin: 0;
    padding: 0;
  }
  .footer .footer-top .footer-links .column:nth-child(2) {
    padding-top: 0.5rem;
  }
  .footer .footer-bottom {
    padding-bottom: 1.25rem;
  }
  .footer .footer-bottom .footer-meta {
    gap: 0.5rem;
  }
  .footer .footer-bottom .footer-social {
    gap: 1.25rem;
  }
  .footer .footer-bottom .footer-social img {
    width: 1.1rem;
  }
}
* {
  box-sizing: border-box;
  margin: auto;
}

html,
body {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #F8F7F5;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0 auto;
  background: #02090A;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: "book";
}

h1 {
  font-size: 1.35rem;
  font-family: "book";
  font-weight: 100;
  color: #02090A;
  text-decoration: none;
  line-height: normal;
}

h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: #02090A;
  text-decoration: none;
  line-height: normal;
}

h3,
h4,
h5,
h6 {
  font-family: "medium";
  color: #02090A;
  line-height: normal;
}

p {
  font-family: "book";
  font-size: 1.1rem;
  color: #02090A;
  line-height: normal;
}

li {
  font-family: "book";
  font-size: 1.1rem;
  color: #02090A;
  line-height: normal;
}

span {
  font-family: bold;
  color: #02090A;
  line-height: normal;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  line-height: normal;
}

/*# sourceMappingURL=global.css.map */
